/* Restablecimiento de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #c9c1c1;
  }
/* Estilos para el formulario y resultados */
.container {
    background-color: #7997c5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
form{
    margin: 0 60px 0 90px;
  }

h1 {
    text-align: center;
    font-size: 24px;
    color: #0f0f0f;
    margin-bottom: 20px;
}


label {
    flex: 0 0 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #000000;
}

input {
    width: 70px;
    flex: 1;
    background-color: #f5f5f5;
    color: #333;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #0069d9;
}

h2 {
    padding-top: 20px;
    font-size: 20px;
    color: #161515;
    margin-top: 20px;
}
.result-container p {
    padding-bottom: 20px;

}


.result-container {
    background-color: #e65b5b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    width: 450px;
    margin-top: 10px;
    text-align: center;
    margin: 0 70px 0 55px;
    border-radius: 4px;
  }

.password {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #050505;
}
.copy_pass{
    
        font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
        padding: 8px 16px;
        margin: 10px 200px 0 200px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        text-align: center;
      
}
.copy_pass button {
    background-color: #cc1b32;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}
.copy_pass button:hover {
    background-color: #962231;
}